.comment
{
    margin: 20px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.author-comment
{
float: right;
}

.clear
{
    clear:both;
}

.comments .summary {
    display: none;
}