.notice-list .notice {
    margin: 0;
    padding: 20px;
}

.notice-list .summary {
    display: none;
}

.notice
{
    margin: 20px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.notice-title
{
    font-size: 16px;
    font-weight: bold;
}

.author-date
{
    float: right;
}

.notice-text
{
    margin-top: 7px;
    margin-bottom: 25px;
    word-wrap: break-word;
}

.notice-list a
{
    color: #303F9F;
}

.UD
{
    float: right;
}