@indigo100: #C5CAE9;
@indigo300: #7986cb;
@indigo500: #3F51B5;
@indigo700: #303F9F;
@deeporange100: #FF9E80;
@deeporange700: #DD2C00;
@green: #8bc34a;
@bluegray50: #ECEFF1;
@bluegray100: #CFD8DC;
@text: rgba(0, 0, 0, 0.87);
@secondaryText: rgba(0, 0, 0, 0.54);
@disabled: rgba(0, 0, 0, 0.26);
@divide: rgba(0, 0, 0, 0.12);


/* mixins */
.transition (@property: all, @duration: 0.15s) {
  -webkit-transition: linear @property @duration;
  -moz-transition: linear @property @duration;
  -o-transition: linear @property @duration;
  transition: linear @property @duration;
}

.box-shadow (@size: 10px, @color: rgba(0, 0, 0, 0.5)) {
  -webkit-box-shadow: 0 0 @size @color;
  -moz-box-shadow: 0 0 @size @color;
  -o-box-shadow: 0 0 @size @color;
  box-shadow: 0 0 @size @color;
}
/* --- */

html,
body {
  margin: 0;
  height: 100%;
}

.wrap {
  //min-height: 100%;
  //height: auto;
  //margin: 0 auto -60px;
  //padding: 0 0 60px;
}

//.wrap > .container {
//  position: relative;
//  padding: 70px 15px 20px;
//}

.jumbotron {
  text-align: center;
  background-color: transparent;
  a:visited {
    color: #fff;
  }
  .btn {
    font-size: 21px;
  }
}

//.not-set {
//  color: #c55;
//  font-style: italic;
//}

/* add sorting icons to gridview sort links */
//a.asc:after, a.desc:after {
//  position: relative;
//  top: 1px;
//  display: inline-block;
//  font-family: 'Glyphicons Halflings';
//  font-style: normal;
//  font-weight: normal;
//  line-height: 1;
//  padding-left: 5px;
//}
//
//a.asc:after {
//  content: /*"\e113"*/ "\e151";
//}
//
//a.desc:after {
//  content: /*"\e114"*/ "\e152";
//}
//
//.sort-numerical a.asc:after {
//  content: "\e153";
//}
//
//.sort-numerical a.desc:after {
//  content: "\e154";
//}
//
//.sort-ordinal a.asc:after {
//  content: "\e155";
//}
//
//.sort-ordinal a.desc:after {
//  content: "\e156";
//}
//
//.grid-view th {
//  white-space: nowrap;
//}
//
//.hint-block {
//  display: block;
//  margin-top: 5px;
//  color: #999;
//}
//
//.error-summary {
//  color: #a94442;
//  background: #fdf7f7;
//  border-left: 3px solid #eed3d7;
//  padding: 10px 20px;
//  margin: 0 0 15px 0;
//}

/* NEW */

a, a:visited {
  color: @indigo500;
  .transition();
  text-decoration: none;
}

a:hover, a:active {
  color: @deeporange700;
}

.site-index {
  position: relative;
}

.site-error {
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 800px;
}

/* */
/* NAVIGATION */
/* */

.navbar {
  width: 100%;
}

.navbar > .container {
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
}

.navbar-main > .container {
  max-width: 1280px;
}

.navbar-main {
  .navbar-brand {
    display: block;
    width: 200px;
    height: 50px;
    background: url('../images/logo_heading.png');
  }
}

@media (max-width: 767px) {

  .navbar-main {
    position: relative;
    background: @bluegray100;
    .box-shadow();
  }

  .navbar-main .navbar-toggle {
    background: url('../images/sprite.png') -40px 0 no-repeat;
  }

  .navbar-collapse {
    margin-top: 15px;
  }

  ul.navbar-nav {
    li {
      display: block;
      a {
        display: block;
      }
    }
  }

  .head-image {
    display: none;
  }

}

@media (min-width: 768px) {

  .navbar-main {
    position: fixed;
    top: 0px;
    .transition();
  }

  .scrolled {
    background: @bluegray100;
    .box-shadow();
  }

  .navbar-main ul.navbar-nav {
    margin-top: 10px;
    padding: 0;
    li {
      margin-right: 20px;
      float: left;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      a {
        padding: 10px 0;
        box-sizing: border-box;
        height: 30px;
        line-height: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
      a.sign-in {
        padding: 10px 20px;
        border: 2px solid @indigo500;
        border-radius: 4px;
        text-transform: uppercase;
        &:hover, &:active {
          border-color: @deeporange700;
        }
      }
    }
  }
}

/* */
/* --- NAVIGATION */
/* */

.jumbotron {
  position: relative;
  .btn {
    padding: 10px 40px;
  }
  .lead {
    margin-bottom: 30px;
    color: @secondaryText;
  }
}

.row {
  position: relative;
  .row-header {
    margin: 30px 0;
  }
  .row-content {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 1280px;
    text-align: center;
    p {
      font-size: 18px;
    }
  }
  .row-image {
    margin: 30px auto;
    max-width: 100%;
    border: 1px solid @divide;
    border-radius: 4px;
    .box-shadow();
    vertical-align: bottom;
  }
}

.indigo {
  background: @indigo300;
  color: #fff;
  .box-shadow();
}

@media (max-width: 767px) {
  .wrap {
    margin: 0px auto;
  }

  .logo-footer {
    margin-top: 35px;
  }

}

@media (min-width: 768px) {
  .wrap {
    margin: 70px auto 0;
  }

  .head-image {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
    .screenshot {
      max-width: 100%;
    }
  }

  .body-landing {
    margin-top: 500px;
  }

  .logo-footer {
    margin-top: 20px;
  }

}

.feature {
  margin: 0 auto 30px;
  padding: 0;
  max-width: 386px;
  height: 280px;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  color: #fff;
  .transition(box-shadow);
  &:hover {
    .box-shadow();
  }
  .feature-description {
    padding: 10px;
    height: 100px;
    background: @indigo300;
    h3 {
      margin: 0;
      padding-bottom: 10px;
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  .feature-image {
    position: relative;
    padding: 10px;
    height: 180px;
    box-sizing: border-box;
  }
}

.coming-soon {
  opacity: 0.6;
  .coming-soon-text {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    font-size: 18px;
    color: #000;
  }
}

.footer {
  margin-top: 50px;
  min-height: 100px;
  background-color: @indigo300;
  color: #fff;
  p {
    margin: 0;
    padding: 0;
  }
  .logo-footer {
    display: block;
    width: 120px;
    height: 30px;
    background: url('../images/logo_heading_white_s.png') no-repeat;
  }
  .copyright {
    line-height: 100px;
  }
}

/* */
/* Sign up & Sign in */
/* */

@media (max-width: 767px) {
  .site-login {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .site-login {
    margin: 100px auto;
  }
}

.register-header {
  margin: 30px 0;
  .logo {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 70px;
    background: url('../images/logo_heading_large.png') center no-repeat;
  }
}

.site-login {
  min-width: 310px;
  max-width: 500px;
  padding: 10px;
}

.login-form-back {
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  .box-shadow();
  h1 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 28px;
    text-align: center;
    color: @text;
  }
  .form-group:last-child {
    margin-bottom: 0;
  }
  .sign-block {
    margin-top: 40px;
    .login-button {
      display: block;
      padding: 15px 10px;
      width: 70%;
      margin: 0 auto;
      font-size: 16px;
      text-transform: uppercase;
      .transition();
    }
  }

}

.register-footer {
  margin: 30px;
  color: @text;
  text-align: center;
}

/* */
/* --- Sign up & Sign in */
/* */


/* */
/* Language selector */
/* */

.language-selector {
  display: inline-block;
  margin-top: 15px;
  line-height: 25px;
}

#lang-form {
  display: none;
  //position: relative;
  //.arrow:after {
  //  content: "";
  //  position: absolute;
  //  top: 50%; right: 10px;
  //  transform: translateY(-50%);
  //  display: block;
  //  width: 10px;
  //  height: 10px;
  //  background: url('../images/arrow_down.png') no-repeat;
  //  pointer-events: none;
  //}
  //select {
  //  display: inline-block;
  //  padding: 0 25px 0 15px;
  //  box-sizing: border-box;
  //
  //  background: @indigo100;
  //  border: none;
  //  border-radius: 4px;
  //
  //  color: #000;
  //  -webkit-appearance: none;
  //  -moz-appearance: none;
  //  appearance: none;
  //  outline: none;
  //  vertical-align: middle;
  //  cursor: pointer;
  //  .transition(box-shadow);
  //  &:hover {
  //    .box-shadow(5px, rgba(0.0, 0.0, 0.0, 0.5));
  //  }
  //  &:focus {
  //    .box-shadow(10px, rgba(0.0, 0.0, 0.0, 0.5));
  //  }
  //
  //  option {
  //    height: 20px;
  //    padding: 5px 5px 5px 15px;
  //  }
  //}
  //select::-ms-expand { /* for IE 11 */
  //  display: none;
  //}
}

@media (max-width: 767px) {
  .lang-changer {
    display: none;
  }
}

.lang-changer {
  a, a:visited {
    color: #fff;
  }
  span {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    line-height: 20px;
  }
}

.lang:before {
  content: "";
  position: absolute;
  top: 0; left: 10px;
  display: block;
  width: 20px;
  height: 20px;
}

.lang-en:before {
  background: url('../images/flag_usa.png') no-repeat;
}
.lang-ru:before {
  background: url('../images/flag_rus.png') no-repeat;
}

/* */
/* --- Language selector */
/* */


/* */
/* DASHBOARD */
/* */

.wrap-dash {
  position: relative;
  display: block;
  margin: 0;
  padding: 80px 0;
  min-height: 100%;
  height: auto;
}

.navbar-dashboard > .container {
  width: 100%;
}

/* Navigation */
.navbar-dashboard {
  background: @indigo300;
  color: #fff;
  z-index: 100;
  .box-shadow(5px);

  a, a:visited {
    color: #fff;
  }

  .navbar-brand {
        display: block;
        width: 40px;
        height: 40px;
        background: url('../images/sprite.png') 0 0 no-repeat;
  }

  .navbar-toggle {
    background: url('../images/sprite.png') -90px 0 no-repeat;
  }

  ul li {
    &:last-child {
      margin-right: 0;
    }
    .dash-link:before {
      content: "";
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }
    .dash-link {
    }
    .link-profile:before {
      background: url('../images/sprite.png') 0 -50px no-repeat;
    }
    .link-settings:before {
      background: url('../images/sprite.png') -20px -50px no-repeat;
    }
    .link-signout:before {
      background: url('../images/sprite.png') -40px -50px no-repeat;
    }
  }
}

.navbar-dashboard-abs {
  position: absolute;
  top: 0; left: 0; right: 0;
}

@media (min-width: 768px) {
  .navbar-dashboard {
    ul li a.dash-link:before {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .navbar-dashboard ul {
    margin-top: 5px;
  }
}

/* --- Navigation */

.footer-dash {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  min-height: 50px;
  background-color: @indigo100;
  color: #000;
  vertical-align: bottom;
  .container {
    margin: 0;
    width: 100%;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .copyright {
    line-height: 50px;
  }
  .lang-changer a, .lang-changer a:visited {
    color: #000;
  }
}

.content-dash {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
}
.groups-list {
  padding: 20px 0;
}

.group-block {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px;
  width: 250px;
  height: 200px;
  overflow: hidden;
  background: #fff;
  border: 3px solid @indigo500;
  border-radius: 4px;
  text-align: left;
  .transition(box-shadow);
  &:hover {
    .box-shadow();
  }
  .group-settings {
    position: absolute;
    top: 20px; right: 20px;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/sprite.png') -20px -70px no-repeat;
    &:hover {
      background: url('../images/sprite.png') -20px -90px no-repeat;
    }
  }
  h3 {
    margin: 0;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
  }
  .group-description {
    position: relative;
    height: 75px;
    overflow: hidden;
    text-align: justify;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 30px;
      -webkit-box-shadow: inset 0px -20px 30px 0px rgba(255,255,255,0.9);
      -moz-box-shadow: inset 0px -20px 30px 0px rgba(255,255,255,0.9);
      box-shadow: inset 0px -20px 30px 0px rgba(255,255,255,0.9);

      z-index: 10;
    }
  }
  .btn {
    position: absolute;
    bottom: 20px; right: 20px;
  }
}

.group-add {
  border: 3px solid @green;
  &:before {
    content: "";
    position: absolute;
    top: 35%;
    left: 38%;
    display: block;
    width: 60px;
    height: 60px;
    background: url('../images/sprite.png') -60px -40px no-repeat;
  }
}

.block-dash {
  padding-bottom: 50px;
}

@media (max-width: 583px) {
  .groups-list {
    text-align: center;
  }
  .group-block {
    display: block;
    margin: 0 auto 20px;
  }
}

@media (min-width: 584px) {
  .group-block {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .content-dash {
    padding: 0 20px;
    h1 {
      font-size: 28px;
      text-align: center;
    }
  }
  .form-dash {
    width: 100%;
  }
  .form-dash-button {
    text-align: center;
  }
  .group-manage h3 {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .content-dash {
    padding: 0 50px;
  }
  .form-dash {
    max-width: 500px;
  }
  .group-manage {
    max-width: 500px;
  }
}

a.btn:visited {
  color: #fff;
}

.btn {
  .transition(background-color);
}

.group-manage {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 4px;
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .confirmation {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.group-disable {
  border: 2px solid #ed9c28;
}

.group-delete {
  border: 2px solid #dd2c00;
}

.table-members {
  td {
    vertical-align: middle !important;
  }
  .btn-group .dropdown-toggle {
    width: 100%;
  }
}

/* */
/* --- DASHBOARD */
/* */


/* */
/* WORKSPACE */
/* */

.wrap-work {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
  .navbar {
    margin-bottom: 0;
  }
}



.navbar {
  .group-name {
    line-height: 40px;
    margin-left: 20px;
  }
  .container-storage {
    float: right;
    margin-top: 3px;
    text-align: right;
    .dropdown-storage-btn {
      position: relative;
      padding: 6px 12px 6px 32px;
      background: @indigo100;
      color: @text;
      outline: none;
      &:before {
        content: "";
        position: absolute;
        top: 9px; left: 12px;
        display: block;
        width: 15px;
        height: 15px;
        background: url("../images/sprite.png") -170px -40px no-repeat;
      }
    }
  }
}

.dropdown-menu-storage {
  left: auto;
  right: 0;
  li a, li a:visited {
    color: @text;
  }
}

@media (max-width: 767px) {
  .navbar .group-name {
    display: none;
  }
  .navbar .container-storage {
    display: none;
  }
  .button-sidebar-open {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-work {
    display: none;
  }
  .button-sidebar-open {
    display: block;
  }
}

.button-sidebar-open {
  //position: fixed;
  //top: 90px; right: 20px;
  float: right;
  margin-top: 3px;
  margin-left: 10px;
  width: 50px;
  height: 30px;
  background: url("../images/sprite.png") -90px 0 no-repeat;
  border: 1px solid transparent;
  opacity: 0.8;
  .transition(opacity);
  &:hover {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

.content-wrap {
  margin: 60px 0 0;
  padding: 0;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 62px;
  display: block;
  width: 240px;
  background: @bluegray100;
  z-index: 99;
  visibility: hidden;
  .box-shadow(5px, rgba(0, 0, 0, 0.3));
}

.sidebar-wrap {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.sidebar-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  h3 {
    margin-top: 0;
    font-size: 20px;
  }
}

.members-block {
  width: 100%;
  height: 40%;
}
.chat-block {
  width: 100%;
  height: 60%;
}

.members-list, .group-chat {
  margin: 10px 0;
  width: 100%;
  .scroll-bar {
    opacity: 0;
    .transition(opacity);
  }
  &:hover .scroll-bar {
    opacity: 1;
  }
}

.members-list {
  height: 80%;
}

.group-chat {
  height: 70%;
}

.members-list {
  table {
    min-width: 210px;
    max-width: 210px;
    border: none;
    font-size: 12px;
    tr, td {
      padding: 0 0 5px !important;
      border: none !important;
    }
  }
  .summary, .table thead  {
    display: none;
  }
}

.chat-send {
  width: 100%;
  height: 50px;
  border-top: 1px solid @indigo100;
  #chat-form {
    height: 50px;
  }
  .chat-message-input {
    width: 100%;
    height: 50px;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    resize: none;
    overflow: auto;
    font-size: 12px;
  }
}

.message {
  margin-bottom: 10px;
  min-width: 210px;
  max-width: 210px;
  font-size: 12px;
}
.message-info {
  position: relative;
  margin-bottom: 5px;
  .message-author {

  }
  .message-time {
    position: absolute;
    top: 0; right: 0;
    color: @secondaryText;
  }
  .message-text {
  }
}
/* --- Sidebar */

.content-work {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  h1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .content-work {
    padding: 0 20px;
    h1 {
      font-size: 28px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .content-work {
    padding: 20px 50px;
  }
}

/* */
/* --- WORKSPACE */
/* */

#yii-debug-toolbar-min {
  display: none !important;
}